<section class="content">
    <div class="content-main">
        <div class="content-name">
            Anggota
        </div>
        <div class="anggota-page">
            <div class="option-anggota">
                <a href="/anggota/add_anggota" class="add-anggota">Add Anggota</a>
            </div>
            <div class="database-anggota">
                <div class="database-anggota-title">
                    <div class="anggota-nim">NIM</div>
                    <div class="anggota-nama">Nama</div>
                    <div class="anggota-tanggal-lahir">Tanggal Lahir</div>
                    <div class="anggota-prodi">Prodi</div>
                    <div class="anggota-periode">Periode</div>
                    <div class="edit-anggota"></div>
                </div>
                <div class="database-anggota-value-store">
                    <% for( let index = 0; index < database.length; index++ ) { %>
                    <div class="database-anggota-value">
                        <div class="anggota-nim"><%= database[index].nim %></div>
                        <div class="anggota-nama"><%= database[index].nama %></div>
                        <div class="anggota-tanggal-lahir"><%= database[index].tanggal_lahir %></div>
                        <div class="anggota-prodi"><%= database[index].prodi %></div>
                        <div class="anggota-periode"><%= database[index].nama_periode %></div>
                        <div class="edit-anggota">
                            <a><i class="bi bi-trash"></i></a>
                            <a><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>