<section class="content">
    <div class="content-main">
        <div class="content-name">
            Berita
        </div>
        <div class="content-page">
            <div class="option-page">
                <% if (status != '') { %>
                    <div class="alert alert-primary" role="alert">
                        <%= status %> 
                    </div>
                <% } %>
                <a href="/admin/berita/add_berita" class="add-btn">Add Berita</a>
            </div>
            <div class="database-berita">
                <div class="database-berita-title">
                    <div class="berita-id">Id</div>
                    <div class="berita-title">Judul Berita</div>
                    <div class="berita-value-title">Isi Berita</div>
                    <div class="berita-tanggal">Tanggal Berita</div>
                    <div class="berita-penulis">Penulis</div>
                    <div class="edit-berita"></div>
                </div>
                <div class="database-berita-value-store">
                    <% for( let index = 0; index < database.length; index++ ) { %>
                    <div class="database-berita-value">
                        <div class="berita-id"><%= database[index].id_berita %></div>
                        <div class="berita-title"><%= database[index].judul_berita %></div>
                        <% if (database[index].isi_berita.length > 300) { %>
                        <% var lo = (database[index].isi_berita).toString().substring(0, 300) + "..."; %> 
                        <% } else { %>
                        <% var lo = (database[index].isi_berita) %>
                        <% } %>  
                        <div class="berita-value"><%= lo %></div>
                        <div class="berita-tanggal"><%= database[index].tanggal_berita %> </div>
                        <div class="berita-penulis"><%= database[index].nama %> </div>
                        <div class="edit-berita">
                            <a href="/admin/berita/hapus?id=<%= database[index].judul_berita %> "><i class="bi bi-trash"></i></a>
                            <a href="/admin/berita/edit?id=<%= database[index].id_berita %> "><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>