<section class="content">
    <div class="content-main">
        <div class="content-name">
            Pengaturan User
        </div>
        <div class="content-page">
            <div class="option-page">
                <% if (status != '') { %>
                    <div class="alert alert-primary" role="alert">
                        <%= status %> 
                    </div>
                <% } %>
                <a href="/admin/user/add_user" class="add-btn">Add User</a>
            </div>
            <div class="database-user">
                <div class="database-user-title">
                    <div class="user-nama">Nama</div>
                    <div class="user-email">Email</div>
                    <div class="user-username">Username</div>
                    <div class="user-foto">Foto</div>
                    <div class="edit-user"></div>
                </div>
                <div class="database-user-value-store">
                    <% for( let index = 0; index < database.length; index++ ) { %> 
                    <div class="database-user-value">
                        <div class="user-nama"><%= database[index].nama %></div>
                        <div class="user-email"><%= database[index].email %></div>
                        <div class="user-username"><%= database[index].username %></div>
                        <div class="user-foto"><%= database[index].foto_user %></div>
                        <div class="edit-user">
                            <a href="/admin/user/hapus?id=<%= database[index].nama %> "><i class="bi bi-trash"></i></a>
                            <a href="/admin/user/edit_user?id=<%= database[index].nama %> "><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>